RewriteEngine On

# Redirigir todas las peticiones a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Proteger carpetas sensibles
<FilesMatch "(config\.php|Database\.php|\.env)">
    Order Allow,Deny
    Deny from all
</FilesMatch>